/* Application-wide Styles */


/* everywhere else */

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2 {
    color: rgb(163, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

h3 {
    color: rgb(230, 209, 22);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body {
    margin: 2em;
    color: #333;
    font-family: Cambria, Georgia;
}

input[type="text"] {
    color: #333;
    font-family: Cambria, Georgia;
}

button {
    color: #333;
    font-family: Cambria, Georgia;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}